<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lyloou.test">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentStatus">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeAppTheme" />

        <activity
            android:name=".media.MediaRecorderActivity"
            android:label="@string/media_audio" />
        <activity
            android:name=".kingsoftware.KingsoftwareActivity"
            android:label="@string/kingsoftware_daily_sentence"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity
            android:name=".bus.BusActivity"
            android:label="@string/bus_chelaile"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name=".common.webview.WebActivity"
            android:label="@string/my_web" />
        <activity
            android:name=".laifudao.TuPianActivity"
            android:label="@string/laifudao_tupian"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity
            android:name=".laifudao.XiaoHuaActivity"
            android:label="@string/laifudao_xiaohua"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity
            android:name=".kingsoftware.KingsoftwareGalleryActivity"
            android:label="@string/kingsoftware_daily_sentence_gallery"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity
            android:name=".douban.DouBanActivity"
            android:label="@string/douban_top250" />
        <activity
            android:name=".onearticle.OneArticleActivity"
            android:label="@string/meiriyiwen_random"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity
            android:name=".gank.GankWelfareActivity"
            android:label="@string/gank_welfare"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity android:name=".common.webview.WebContentActivity" />
        <activity
            android:name=".bus.BusTvActivity"
            android:label="@string/bustv_chelaile"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".man.ManActivity"
            android:label="@string/man"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity
            android:name=".flow.FlowActivity"
            android:exported="true"
            android:label="@string/flow_time"
            android:theme="@style/AppTheme.TranslucentStatus">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".flow.FlowListActivity"
            android:label="@string/flow_time_list"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.TranslucentStatus" />
    </application>

</manifest>