<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lou.as.lou">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".practice.DemoGestureDetectorActivity" />

        <!-- ============= -->
        <!-- 已经测完 START -->
        <!-- ============= -->
        <activity
            android:name=".view.dialog.DialogActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/view_dialog" />

        <!-- 其中exported属性 用来测试：给AdapterActivity添加桌面快捷方式 -->
        <activity
            android:name=".feature.AdapterActivity"
            android:exported="true"
            android:label="@string/feature_adapter" />
        <activity
            android:name=".view.ratio_color.RatioColorActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.ratio_color.RatioColorHomeActivity"
            android:label="@string/view_ratio_color"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.setting_layout.SettingLayoutActivity"
            android:label="@string/view_setting_layout" />
        <activity android:name=".view.setting_layout.SettingLayoutChangeNameActivity" />

        <activity
            android:name=".view.count_view.CountViewActivity"
            android:label="@string/view_count_view" />

        <activity
            android:name=".android_guides.TabLayoutAndViewPagerActivity"
            android:label="@string/tablayout_and_view_pager" />

        <activity
            android:name=".practice.DemoActivityAnimationActivity"
            android:label="@string/animation_activity" />

        <activity
            android:name=".view.color_picker.ColorPickerLayoutActivity"
            android:label="@string/view_color_picker_layout" />
        <!-- ============= -->
        <!-- 已经测完 END -->
        <!-- ============= -->

        <activity android:name=".practice.ViewRecyclerViewActivity" />
        <activity android:name=".practice.ViewCardViewActivity" />
        <activity
            android:name=".view.swipe_refresh.SwipeRefreshLayoutActivity"
            android:label="@string/view_swipe_refresh" />

        <activity
            android:name=".feature.DeviceInfoActivity"
            android:label="@string/feature_device_info" />
        <activity
            android:name=".feature.UspActivity"
            android:label="@string/feature_usp_demo" />
        <activity
            android:name=".view.pull_to_refresh.PullToRefreshViewActivity"
            android:label="@string/view_pull_to_refresh" />
    </application>

</manifest>