<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lou.as.lou">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".practice.DemoGestureDetectorActivity"/>

        <!-- ============= -->
        <!-- 已经测完 START -->
        <!-- ============= -->
        <activity
            android:name=".DialogActivity"
            android:configChanges="orientation|screenSize">
        </activity>

        <!-- 其中exported属性 用来测试：给AdapterActivity添加桌面快捷方式 -->
        <activity
            android:name=".AdapterActivity"
            android:exported="true"/>
        <activity android:name=".ViewRatioColorActivity"/>
        <activity android:name=".ViewRatioColorHomeActivity"/>
        <activity android:name=".ViewSettingLayoutActivity"/>
        <activity android:name=".ViewSettingLayoutChangeNameActivity"/>
        <activity android:name=".ViewCountViewActivity"/>
        <activity android:name=".android_guides.TabLayoutAndViewPagerActivity"/>
        <activity android:name=".practice.DemoActivityAnimationActivity"/>
        <!-- ============= -->
        <!-- 已经测完 END -->
        <!-- ============= -->

        <activity android:name=".practice.ViewRecyclerViewActivity">
        </activity>
        <activity android:name=".practice.ViewCardViewActivity"></activity>

        <activity android:name=".ViewColorPickerLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>